<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head %>
<body>
    <%- include('./partials/header', {page:'home'}) %>

    <% if (locals.success) { %>
      <div class="alert alert-primary">
        <p><%= success %></p>
      </div>
    <% } %>

    <div class="container">
      <div class="jumbotron">
        <p>Olá <%= loggedUser.name %></p>
      </div>
    </div>

    <%- include ./partials/footer.ejs %>
</body>
</html>